

.header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    a {
        color: #fff;
        transition:  color 200ms;
    }

    a:hover {
        color: #DEBFA8;
    }
}

.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}


.logo {
    margin: 0;
    font-family: Myfont;
    font-size: 3rem;
}

@media (max-width: 320px) {
    .logo {
        font-size: 1rem;
    }
}