

.header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    a {
        color: #fff;
    }
}

.links-container {
    display: flex;
    gap: 2rem;
    width: 100%;
}