.projects-section {

    .projects-title {
        position: relative;
        font-size: 4rem;
        margin-block-start: 4rem;
        /* margin-block-end: 4rem; */
        color: white;
    }

    .project-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block-end: 14rem;

        .project-info {
            width: 100%;
            z-index: 10;
            max-width: rem(600px);
            justify-self: center;
        }

        p {
            font-size: 1rem;
        }

        h2 {
            color: white;
            position: relative;
            font-size: 2.2rem;
            margin-block-end: 0.5rem;
        }

        .project-desc {
            color: white;
        }
    }

    .project-btns-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-block-start: 0.5rem;

        > a button {
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .try-live-btn {
        background-color: #FFF5DA;
        color: #000823;
        border: none;
    }

    .github-btn {
        background-color: transparent;
        border: solid 2px #6CCEB9;
        color: #6CCEB9;
    }

    .youtube-btn {
        background-color: rgba(242, 70, 70, 0.849);
        color: white;
        border: none;
    }

    .project-tag {
        background-color: #FFF5DA;
        width: fit-content;
        color: #000823;
        padding: 0.4rem 0.5rem;
        border-radius: 0.2rem;
        margin-block-end: 0.5rem;
    }

    .tech-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1.3rem 0;
        gap: 1rem;
        background-color: rgba(255, 255, 255, 0.14);
        width: fit-content;
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;

        img {
            display: flex;
            flex-direction: column;
            width: 70px;
        }
    }
}

.project-note {
    font-size: 0.8rem;
    padding: 0.3rem 0;
    color: #fff;
    margin-bottom: 1rem;
}

@media (max-width: 1450px) {
    .project-card {
        flex-direction: column;

        .project-btns-container {
            margin-block-end: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .project-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-wrap: normal;
    }

    .carousel-container {
        width: 100% !important;
        
        .arrow {
            fill: black !important;
        }
    }
    .project-card {
        margin-block-end: 8rem !important;
    }
}